.post-card {
	width: calc(100% / 3 - 2rem);
	margin: 1rem;

	&__content {
		cursor: pointer;
	}
	a {
		border-bottom: none;
	}
	a:hover {
		border-bottom: none;
	}
	&__image {
		width: 100%;
	}
}
